services:
  api:
    build: .
    container_name: koperasi_api
    command: sh -c "npx prisma generate && npm run start:dev"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis
      - minio

  postgres:
    image: postgres:16
    container_name: koperasi_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-koperasi}
    ports:
      - '5432:5432'

  redis:
    image: redis:7
    container_name: koperasi_redis
    ports:
      - '6379:6379'

  minio:
    image: minio/minio:latest
    container_name: koperasi_minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
