services:
  api:
    build: .
    container_name: koperasi_api
    command: npm run start:dev
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: koperasi_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-koperasi}
    ports:
      - '5432:5432'

  redis:
    image: redis:7
    container_name: koperasi_redis
    ports:
      - '6379:6379'
