name: Deploy to Production

on:
  push:
    branches:
      - production

jobs:
  # =========================
  # INTEGRATION TEST JOB
  # =========================
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      redis:
        image: redis:7
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate
        env:
          DATABASE_URL: postgresql://test:test@localhost:5432/testdb

      - name: Run Prisma Migration
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: postgresql://test:test@localhost:5432/testdb

      - name: Run Integration Test
        run: npm run test:e2e
        env:
          DATABASE_URL: postgresql://test:test@localhost:5432/testdb
          REDIS_URL: redis://localhost:6379


  # =========================
  # BUILD & DEPLOY JOB
  # =========================
  build-and-deploy:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      IMAGE_NAME: ghcr.io/yogihafidh/ksp-api:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME .

      - name: Push Docker image
        run: docker push $IMAGE_NAME

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 146.190.111.184
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ghcr.io/yogihafidh/ksp-api:latest
            docker stop koperasi_api || true
            docker rm koperasi_api || true
            docker run -d \
              --name koperasi_api \
              --network ksp_koperasi_network \
              --env-file /var/www/ksp/.env.production \
              -p 3000:3000 \
              --restart unless-stopped \
              ghcr.io/yogihafidh/ksp-api:latest