name: Deploy to Production

on:
  push:
    branches:
      - production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      IMAGE_NAME: ghcr.io/yogihafidh/ksp-api:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME .

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 146.190.111.184
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull $IMAGE_NAME
            docker stop koperasi_api || true
            docker rm koperasi_api || true
            docker run -d \
              --name koperasi_api \
              --network ksp_koperasi_network \
              --env-file /var/www/ksp/.env.production \
              -p 3000:3000 \
              --restart always \
              $IMAGE_NAME
